.picture1 {
    /* position: absolute;
    width: 1427px;
    height: 882px;
    left: 462px;
    top: 279px; */
    position: absolute;
    width: 1427px;
    height: auto;
    left: 462px; 
    top: 279px;
}


.text1 {
    position: absolute;
    width: 380px;
    height: 882px;
    /*left: 1930px;*/
    left: 1930px;
    top: 279px;

    /* P */

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 39px;
    /* or 195% */

    display: flex;
    align-items: center;
    letter-spacing: 0.005em;

    color: #000000;
}