/*COMMENT OUT = OG*/
.img1 {
    /*position: absolute;
    width: 1667px;
    height: 1035px;
    left: 284px;
    top: 257px; */
    position: absolute;
    width: auto;
    height: 1035px;
    left: 184px;
    top: 257px; /* for some reason the width/height isnt changing the image?? go back to this */
}

.text1 {
    position: absolute;
    width: 380px;
    height: 823px;
    left: 1941px;
    top: 360px;

    /* P */

    font-family: var(--base-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem; /* follows global base font-size */
    line-height: 1.21875rem; /* 39px */
    /* or 195% */

    display: flex;
    align-items: center;
    letter-spacing: 0.005em;

    color: #000000;
}